<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- IMPORTACION DE CSS - STYLES -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- IMPORTACION DE CSS - ANIMATIONS -->
    <link rel="stylesheet" href="../animation/animations.css">
    
    <title>🎧 Music Page - Ana y Kevin</title>

</head>
<body>

    <div class="Main-container">

        <div class="Main-container__left">

            <h1 class="Main-container__left_title"><i>Production <br>Music with Sofia</i></h1>

            <p class="Main-container__left_paragraph">
                <i>Hi!, welcome to my Page of Music Production... 
                here you can know a little about of the music production in Colombia.
                There many types of softwares dedicated to the music, they are given
                named <strong>DAW'S.</strong></i>
            </p>

        <a href="" class="Main-container__left_button">Ver màs ➡</a>

        
    </div>


  
    <img src="../img/face.png" alt="Imagen icono facebook" class="Image_central_facebook">
    <img src="../img/youtube.png" alt="Imagen icono youtube" class="Image_central_youtube">
    <img src="../img/spofity.png" alt="Imagen icono spofity" class="Image_central_spofity">

    

    <div class="Main-container__right">

        <p class="Main-container__right_footer">
            💻 Developed by: Ana Sofia and Kevin Jeffrey
         </p>

         <iframe class="Main-container__video" width="600" height="400" src="https://www.youtube.com/embed/u73-Q9y3kKc" title="TV Noise - Love The Way" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
        
</body>
</html>